<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="cars">
    <div class="row" style="margin: 1vh">


        <div class="card col-12 " style="background-color: rgba(0,0,0,.4);"


             th:each="p : ${cars}">
                <!-- Heading -->
                <div class="card-body">
                    <h4 class="card-title" th:text="${p.getCarName()}"></h4>
                </div>


                <!-- Image -->
                <img th:src="@{${p.getCarPhoto()}}" alt="Photo of Car" style="height: auto;width: 48%">
                <!-- Text Content -->
                <div class="card-body">

                    <p class="card-text" th:text="${p.getCarDescribtion()}"></p>

                    <p class="card-text" th:text="${#numbers.formatCurrency(p.getCosts())}" ></p>

                     <h6><span th:each="tag :${p.getTypeOfFuel()} " class="badge badge-info" th:text="${tag}"
                    style="margin: 0.5em;"></span></h6>
                    <a class="btn btn-sm btn-warning" th:href="@{/describe}"><p class="card-text"> more about &nbsp<span
                            th:text="${p.getCarName()}"></span></p></a>

                </div>
            </div>

        </div>
    </div>
</div>
