<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">


    <meta charset="utf-8"/>

</head>
<body>
<h1> Car Describtion</h1>

<tr>
<tr th:each="p : ${cars}">
    <th>Car Name: </th>
    <td th:text="${p.getCarName()}"></td>
        <br><br>
    <th>Power[HP]: </th>
    <td th:text="${#numbers.formatInteger(p.getPower(), 1)}"></td>
        <br><br>
    <th>course[KM]: </th>
    <td th:text="${#numbers.formatInteger(p.getCarMilage(), 1)}"></td>
        <br><br>
    <th>Year Of Production: </th>
    <td th:text="${#numbers.formatInteger(p.getYearOfProduction(),1)}"></td>
        <br><br>
    <th>Color: </th>
    <td th:text="${p.getColor()}"></td>
        <br><br>
    <th>Car Describtion: </th>
    <td th:text="${p.getCarDescribtion()}"></td>
        <br><br>
    <th></th>
    <td><img th:src="@{${p.getCarPhoto()}}" alt="Photo of Car" style="height: auto;width: 48%"></td>
        <br><br>
    <th>Costs:</th>
    <td th:text="${#numbers.formatCurrency(p.getCosts())}"></td>
        <br><br>
    <th>Type of Fuel: </th>
    <td th:text="${p.getTypeOfFuel()}"></td>
        <br><br><br><br><br><br>
    <td>
    <a class="btn btn-sm btn-warning" th:href="@{/buy}"><p class="card-text"> BUY NOW<span
           ></span></p></a>
    </td>
</tr>


</table>

<a th:href="@{/}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>back to home page</a>







</tr>
</body>
</html>