<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

</head>
<body>
<div class="container">
    <div class="col-12 text-center">
        <h3 class="font-weight-light content">Welcome to simple Car Rental Service.
            <span class="content-header">Enjoy!</span>
        </h3>

        <p th:text="Tekst" style="color: white"></p>
        <a href="/cars"><p>Car Rental Service Panel</p></a> <br>
        <a href="/logout"><p>logout</p></a> <br>
        <!--<a href="/excel"><p>create .xls file</p></a>-->
        <hr>
    </div>

    <div class="row">
        <div th:type th:replace="fragments/overview :: cars"></div>
    </div>
</div>
</body>
</html>